<h1>Select User</h1>
<form action="PLACEHOLDER" method="POST">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" value="Alice Johnson" required>

  <button type="submit">Find User</button>
</form>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Genre ID</th>
      <th>Platform ID</th>
      <th>Users</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>The Witcher 3</td>
      <td>1</td>
      <td>1</td>
      <td>1000</td>
      <td>10</td>
      <td>An open-world RPG set in a fantasy universe.</td>
      <td>
        <form>
            <button>Delete from Library</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>God of War</td>
      <td>3</td>
      <td>3</td>
      <td>3000</td>
      <td>10</td>
      <td>An action-adventure game based on Norse mythology.</td>
      <td>
        <form>
            <button>Delete from Library</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>
<h1>Add Game to Library</h1>
<form action="PLACEHLDER" method="POST">

  <label for="gameID">Game</label>
  <select id="gameID" name="gameID" required>
    <option value="2">Halo Infinite	</option>
    <option value="4">Zelda: Breath of the Wild	</option>
    <option value="5">Candy Crush Saga	</option>
  </select>


  <button type="submit">Add Game</button>
</form>