
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> {{ title }} </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script>
        
    </script>
</head>

<body>
    <div class="content-back">
        <div class="navbar">
            <a href="/" class="navbar-brand">GameBxd</a>
            <a href="/games" class="navbar-item">Games</a>
            <a href="/users" class="navbar-item">Users</a>
            <a href="/genres" class="navbar-item">Genres</a>
            <a href="/platforms" class="navbar-item">Platforms</a>
            <a href="/userLibrary" class="navbar-item">User Library</a>

        </div>
        <div class="body-content">
            {{{ body }}}
        </div>
        <div class="footer">
            <hr />
            <footer>
                <p>Ex Machina Team &copy; 2025</p>
            </footer>
        </div>
    </div>
</body>
</html>
